ETNA.MVC/Service References/LogisticaServices/EntradasYSalidasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6078/LO/EntradasYSalidasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ETNA.DTOs.LO" />
  <xs:element name="ObtenerAlmacenesPorEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAlmacenesPorEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ETNA.DTOs.LO" minOccurs="0" name="ObtenerAlmacenesPorEmpleadoResult" nillable="true" type="q1:ArrayOfAlmacenDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="estadoSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
        <xs:element minOccurs="0" name="tipoEntrada" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ETNA.DTOs.LO" minOccurs="0" name="ObtenerSolicitudesEntradaResult" nillable="true" type="q2:ArrayOfListaSolicitudEntradaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ETNA.DTOs.LO" minOccurs="0" name="ObtenerSolicitudEntradaResult" nillable="true" type="q3:SolicitudEntradaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarGuiaEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="idAlmacen" type="xs:int" />
        <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarGuiaEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarGuiaEntradaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarGuiaEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="observaciones" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarGuiaEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RechazarGuiaEntradaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesSalida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="estadoSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
        <xs:element minOccurs="0" name="tipoSalida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionEntrega" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesSalidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ETNA.DTOs.LO" minOccurs="0" name="ObtenerSolicitudesSalidaResult" nillable="true" type="q4:ArrayOfListaSolicitudSalidaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudSalida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudSalidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ETNA.DTOs.LO" minOccurs="0" name="ObtenerSolicitudSalidaResult" nillable="true" type="q5:SolicitudSalidaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarGuiaSalida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="idAlmacen" type="xs:int" />
        <xs:element minOccurs="0" name="idEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarGuiaSalidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarGuiaSalidaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarGuiaSalida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSolicitud" type="xs:int" />
        <xs:element minOccurs="0" name="observaciones" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarGuiaSalidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RechazarGuiaSalidaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpleados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ETNA.DTOs.LO" minOccurs="0" name="ObtenerEmpleadosResult" nillable="true" type="q6:ArrayOfEmpleadoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>